@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --primary-light-color: hsl(148, 38%, 91%);
    --primary-medium-color: hsl(169, 82%, 27%);
    --red-color: hsl(0, 66%, 54%);
    --grey-light-color: hsl(186, 15%, 59%);
    --grey-dark-color: hsl(187, 24%, 22%);
    --white-color: hsl(0, 0%, 100%);
    --font : "Karla", sans-serif;
}
body {
    font-family: var(--font);
    background-color: var(--primary-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, button, a, p, label, input, textarea{
    margin: 0;
    font-family: var(--font);
}

.container {
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 600px;
    padding: 1.75rem;
}

.title {
    font-size: 2rem;
    color: var(--grey-dark-color);
}
.contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-top: 1rem;
}
label{
    display: block;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--grey-light-color);
    font-weight: 400;
    margin-bottom: .5rem;
}
input, textarea{
    width: 100%;
    padding: .75rem;
    border: 1px solid var(--grey-light-color);
    border-radius: 5px;
    font-size: 1rem;
}
input:focus, textarea:focus{
    outline: none;
    border-color: var(--primary-medium-color);
}

textarea {
    resize: none;
}

.radio-button {
    display: flex;
    align-items: center;
    border: 1px solid var(--grey-light-color);
    border-radius: 5px;
    padding: .75rem;
    cursor: pointer;
}
.radio-button input,
.checkbox input {
    width: 30px;
}
.checkbox{
    display: flex;
    align-items: center;
}
.form-group:nth-child(1),
.form-group:nth-child(5) 
{
    grid-column: 1/2;
}
.form-group:nth-child(2),
.form-group:nth-child(6){
    grid-column: 2/3;
}

.form-group:nth-child(3),
.form-group:nth-child(4),
.form-group:nth-child(7),
.form-group:nth-child(8) {
    grid-column: span 2;
}
button {
    grid-column: span 2;
    padding: .75rem;
    border-radius: 5px;
    background-color: var(--primary-medium-color);
    border: none;   
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: hsl(169, 82%, 20%);
}